# Dependency directories
node_modules/
jspm_packages/
web_resources/

# Python/Pipenv
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS Metadata
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
